Quart-Discord
better-ipc
opencv-python
Pillow
PyNaCl
requests
pytesseract
numpy
beautifulsoup4
geckodriver-autoinstaller
selenium
emoji
PyMongo
ffmpeg-python
yt-dlp
wget
rlvoice
newspaper3k
pypdf2
spacy
speechrecognition
mycroft-plugin-tts-mimic3[all]
ovos-tts-plugin-mimic3-server
gpt4all
lxml[html_clean]
diffusers
transformers
scipy
ftfy
accelerate