Quart-Discord
better-ipc
opencv-python
Pillow
PyNaCl
requests
pytesseract
numpy
beautifulsoup4
geckodriver-autoinstaller
selenium
emoji
PyMongo
ffmpeg-python
yt-dlp[default,curl-cffi] --pre
wget
rlvoice
newspaper3k
pypdf2
speechrecognition
gpt4all[cuda]
lxml[html_clean]
transformers
scipy
ftfy
accelerate
datetime
diffusers
fake_useragent
huggingface_hub[cli]
instaloader
python-dateutil
piper-tts
scrython
nest-asyncio
langchain
langchain-ollama
speechbrain
openai-whisper
grpcio
grpcio-tools