Quart-Discord
better-ipc
opencv-python
Pillow
PyNaCl
requests
pytesseract
numpy
beautifulsoup4
geckodriver-autoinstaller
selenium
emoji
PyMongo
ffmpeg-python
yt-dlp[default] --pre
wget
rlvoice
newspaper3k
pypdf2
spacy
speechrecognition
gpt4all
lxml[html_clean]
transformers
scipy
ftfy
accelerate
datetime
diffusers
fake_useragent
